/* Bootstrap overrides
----------------------------------------- */

body > main > .container:first-child {
	padding-top: 4.5rem;
}

body > main > .container:not(:first-child) {
	padding-top: 1rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-animation: autofill 0s forwards;
	animation: autofill 0s forwards;
}

img {
	max-width: 100%;
}

textarea {
	resize: vertical;
}

table.table {
	border: 1px solid #ddd;
	border-radius: 4px;
}

table.table.mytable tr th:not(:first-child),
table.table.mytable tr td:not(:first-child) {
	text-align: center;
}

table.table img.game-icon {
	height: 24px;
	border-radius: 4px;
	vertical-align: top;
}

.alert ul {
	list-style-type: none;
	margin-bottom: 0px;
	padding-left: 10px;
}

.card > .card-header > h1, .card > .card-header > h2,
.card > .card-header > h3, .card > .card-header > h4,
.card > .card-header > h5, .card > .card-header > h6 {
	display: inline;
	margin-bottom: 0px;
}

.progress {
	position: relative; }

	.progress span {
		position: absolute;
		display: block;
		width: 100%;
		text-align: center; }



/* General
----------------------------------------- */

body {
	/*background: url("../images/backgrounds/bg.jpg") no-repeat fixed top center;*/
	/*background-size: cover;*/
}


/* Keyframes
----------------------------------------- */

@keyframes autofill
{
	100% {
		background: transparent;
		color: inherit;
	}
}
@-webkit-keyframes autofill
{
	100% {
		background: transparent;
		color: inherit;
	}
}