/* General
----------------------------------------- */

html {
	height: 100%;
}

body {
	height: calc(100% - 1rem - 56px); /* Substract topbar height/padding/margin */

	/*background: url("../images/backgrounds/bg.jpg") no-repeat fixed top center;*/
	/*background-size: cover;*/
}

body > main {
	min-height: calc(100% - 1rem - 24px - 2rem - 1px); /* Substract footer height/margin and <hr> margin/border height */
}